@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4
@model IEnumerable<MaintainEvision.Models.CodeReason>

@{
    ViewBag.Title = "Index";
}

<h2>List of Reason Code</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SysId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChtDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChsDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SysId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChtDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChsDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SysId })
                @*@Html.ActionLink("Delete", "Delete", new { Vender = item.Vender, ProductType = item.ProcessType, ReasonCode = item.ReasonCode, CodeType = item.ReasonCode })*@
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { Page = p }), Bootstrap4PagedListRenderOptions.Default)